<#@ template language="C#" #>

USE [master]

IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = '<#= DbName #>')
BEGIN
	CREATE DATABASE <#= DbName #>;
END
GO

USE <#= DbName #>;

IF NOT EXISTS (SELECT * FROM sysobjects where name='Logs')
BEGIN
	CREATE TABLE Logs (
		ID UNIQUEIDENTIFIER PRIMARY KEY DEFAULT(newid()),
		Created DATETIME NOT NULL DEFAULT(getdate()),
		LogLevel VARCHAR(20) NOT NULL,
		Message NVARCHAR(500) NOT NULL,
		Exception NVARCHAR(MAX)
	);
END
